<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - She-Wolf</title>
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Pirata+One&display=swap" rel="stylesheet">
</head>
<body>
    <header>
        <nav>
            <a href="@Url.Action("Index", "Home")">Home</a>
            <a href="@Url.Action("Index", "Books")">Books</a>
            <a href="@Url.Action("Index", "Authors")">Authors</a>
            <!--<a href="@Url.Action("Index", "Home")">My account</a> -->
            <!-- <a href="@Url.Action("Index", "Home")">Admin</a>-->
        </nav>
    </header>

    <div class="container">
        <main role="main">
            @RenderBody()
        </main>
    </div>

    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
